$_form-input-background-color: $base-background-color;

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

label,
legend {
  display: block;
  font-weight: 600;
  line-height: $heading-line-height;
  margin-bottom: $small-vertical-spacing;
  padding: 0;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $form-element-font-size;
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
select,
textarea {
  appearance: none;
  background-clip: padding-box;
  background-color: $_form-input-background-color;
  border-radius: $base-border-radius;
  border: $base-border;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: $form-element-font-size;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0 0 $base-vertical-spacing 0;
  padding: $base-vertical-spacing / 3;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

  &::placeholder {
    color: $secondary-font-color;
  }
}

textarea {
  min-height: 8rem;
  resize: vertical;
}

[type="file"] {
  margin: 0 0 $base-vertical-spacing 0;
  width: 100%;
}

[type="checkbox"],
[type="radio"] {
  margin: 0 0 $base-vertical-spacing 0;
}

select {
  margin: 0 0 $base-vertical-spacing 0;
  width: 100%;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
  border-radius: 0.25rem;
  border: $base-border;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: $form-element-font-size;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0 0 $base-vertical-spacing 0;
  padding: ($base-vertical-spacing / 3) 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;


  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
