// Typography
$base-font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Avenir Next",
  "Avenir",
  "Segoe UI",
  "Lucida Grande",
  "Roboto",
  "Droid Sans",
  sans-serif;
$secondary-font-family:
  "Hoefler Text",
  "Baskerville Old Face",
  "Garamond",
  "Times New Roman",
  serif;

// Line height
$base-line-height: (5 / 3);
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 0.25rem;
$base-vertical-spacing: $base-line-height * 1rem;
$small-vertical-spacing: $base-vertical-spacing / 2;
$base-gutter: 2rem;
$component-gutter: 1.375rem;
$base-z-index: 0;

// Font Sizes
$base-font-size: 0.8125rem;
$large-font-size: 0.9375rem;
$form-element-font-size: 0.875rem;

// Letter Spacing
$small-letter-spacing: 0.03125em;

// Colors
$lake: #6FB5F1;
$moss: #2AA69B;
$cadmium: #ec514e;
$grass: #00FFE9;
$coal: #2E3030;
$graphite: #454646;
$coin: #868989;
$smoke: #c6c8c8;

// Font Colors
$base-font-color: $graphite;
$secondary-font-color: $coin;
$action-color: $lake;

// Borders
$base-border-color: $coin;
$base-border: 0.0625px solid $base-border-color;

// Background Colors
$viewport-background-color: whitesmoke;
$base-background-color: white;
$error-background-color: $cadmium;

// Effects
$dark-gradient: linear-gradient(140deg, $graphite 0%, $coal 100%);
$light-gradient: linear-gradient(180deg, $base-background-color 0%, $viewport-background-color 100%);
$box-shadow:
  inset 0 0.0625rem rgba(black ,0.05),
  0 1.25rem 1rem -1.5rem rgba($graphite, 0.5),
  0 0.75rem 1.75rem -0.25rem rgba($graphite, 0.6),
  0 1.25rem 2.5rem rgba($graphite, 0.3);
$form-element-box-shadow:
  inset 0 0.0625rem rgba(black ,0.05),
  0 1.125rem 1rem rgba(black, 0.1),
  0 0.25rem 0.5rem rgba(black , 0.05);

// Animations
$base-duration: 175ms;
$base-timing: ease;
