.dark-form-input {
    -webkit-font-smoothing: antialiased;
    background-color: $graphite;
    background-image: $dark-gradient;
    border: 1px solid transparent;
    box-shadow: $base-box-shadow;
    color: $smoke;

  &:focus,
  &:active {
    background-color: tint($graphite, 5%);
    border-color: $action-color;
    box-shadow: 0 0 0 2px $action-color;
    color: white;
    outline: none;
    transform-origin: center center;
    transform: scale(0.98);
  }
}
