.tag {
  border-radius: $base-border-radius;
  border: 1px solid transparent;
  display: inline-block;
  letter-spacing: $small-letter-spacing;
  line-height: 1.4;
  padding: 0.1875em 0 0.15em;
  text-decoration: none;
  white-space: nowrap;

  &::before,
  &::after {
    content: "\00a0\00a0";
  }
}

.tag--primary {
  -webkit-font-smoothing: antialiased;
  background-image: $dark-gradient;

  &,
  &:hover {
    color: white;
  }
}

.tag--secondary {
  border-color: currentColor;

  &,
  &:hover {
    color: inherit;
  }
}
